{% extends "base.twig" %}

{% block content %}
<h1>page accueil</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem eaque illum rem reiciendis id, cumque nulla earum molestias vel iste accusamus ad qui incidunt voluptate assumenda libero sapiente fuga. Reprehenderit sapiente provident eius necessitatibus aliquam dicta, dolor nihil suscipit itaque totam debitis nesciunt temporibus optio aspernatur beatae repellendus voluptas!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem eaque illum rem reiciendis id, cumque nulla earum molestias vel iste accusamus ad qui incidunt voluptate assumenda libero sapiente fuga. Reprehenderit sapiente provident eius necessitatibus aliquam dicta, dolor nihil suscipit itaque totam debitis nesciunt temporibus optio aspernatur beatae repellendus voluptas!</p>
{% endblock %}